.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  <--background-image:url('http://goo.gl/04j7Nn');-->
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: align;
  top:10px;
  font-family: 'Shift', sans-serif;
}
.jumbotron .container  p{
	color:black;
	font-family:'Shift';
}
.jumbotron .container .my{
	align:center;
	
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.heighborhood-guides{
    background-color:#efefef;
    border-bottom:1px solid #dbdbdb;    
}

.heighborhood-guides h2{
    color:#393c3d;
    font-size:24px;
}
.heighborhood-guides p {
    font-size:15px;
    margin-bottom:13px;
}

.my{
    width: 200px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}






*{
  margin:0;padding:0;
}

span{
  margin:0 5px;
  vertical-align:middle;
}

button:before, span:before{
  position:absolute;
}
form{   
  font:0.8em 'Shift', sans-serif; 
  margin:1.4em;   
}
span, input, label, img{
  display:inline-block;
  text-shadow:0 0 1px rgba(0,0,0,0.3);
}
label,img{    
  width:7em;
}

input{
  height:25px;
  border:2px ;
  width:200px;
  min-width:10px;
}
.captcha label{  
  width:15em;
  margin-top:2.5em;
  margin-bottom:1.5em;
}
.captcha img {  
  height:2em; 
  vertical-align:middle;
}






